# Python
__pycache__/
*.py[cod]
*.egg-info/

# Ambiente virtual
venv/
.venv/
env/

# Variáveis de ambiente
.env
.env.*

# Django
staticfiles/
media/
*.log

# Editores e sistema operacional
.vscode/
.idea/
.DS_Store
Thumbs.db
